Cargue de librerías.

In [23]:
# librerías importantes

%matplotlib inline
import numpy as np #for numerical
import pandas as pd #for datasets management
import seaborn as sns #for plots
import matplotlib.pyplot as plt #for show plots
from scipy import stats

Cargue de datos.

In [24]:
db_original = 'datos_regresion_full_send.csv'
db = pd.read_csv(db_original)

Entendimiento de los datos.

In [25]:
db.head()

   CONSUMO  PRECIO  INGRESO
0     76.3    20.6   109837
1     48.4    25.2    70434
2     50.5    26.2    73502
3     63.2    20.4    90428
4     59.2    21.7    89843

In [26]:
print(db.dtypes) #tipos de datos en cada una de las columnas
print(db.shape) #cantidad de filas y columnas

CONSUMO    float64
PRECIO     float64
INGRESO      int64
dtype: object
(100, 3)

¿Faltan valores?

In [27]:
pd.isnull(db).sum()

CONSUMO    0
PRECIO     0
INGRESO    0
dtype: int64

Limpieza de base de datos.

In [ ]:
cantidad = db['CANTIDAD']
delito = db['DELITO']
genero = db['GENERO']
edad = db['GRUPO_EDAD']
plt.figure(figsize=(15,10))
sns.boxplot(x = cantidad, y = delito)

In [ ]:
plt.figure(figsize=(15,10))
sns.boxplot(x = cantidad, y = edad)